@using SystemSetup.Constants.Resources;
@using SystemSetup.Constants.Security;
@using SystemSetup.Models;
@{
    var currentUser = HttpContext.Current.Session["CmnEntityModel"] as CmnEntityModel;
    var authorityList = currentUser.AuthorityList as List<string>;
}
@Html.Raw(ViewBag.BuildInfo)
<div id="logo">
    <a href="~/Information/Information/Index"><span>iseiQ システム</span></a>
</div>
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" aria-expanded="false">
                <i class="btn-user"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href='@Url.Action("Index", "Information", new { area = "Information" })'>
                        <span class="session-user-name">@currentUser.UserName</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Logout", "Login", new { area = "UserManagement" })' class="action-logout"><i class="fa fa-angle-right pull-left"></i><span class="log-out">Log out</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="logo-company2">
</div>
