<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=iseiq2test;AccountKey=OpzK/tQEOC2BV7JMmyRj2fvQJLzLMn7HIpifx0vsD0P/Z+AC7M5YtnX0Km2MeSomZAjzEbA2jP4NVQQxC7IiCg==" />

  <add key="EnableSsl" value="true" />

  <add key="saveBaseFilePath" value="C:/iseiQ/Images/"/>

  <add key="smtpMailTitlePrefix" value="[i-seiQ2]" />

  <add key="smtpPass" value="NKvSEq6ydxps" />

  <add key="smtpPort" value="587" />

  <add key="smtpServer" value="smtp.office365.com" />

  <add key="smtpSupport" value="support@i-enter.asia" />

  <add key="smtpUser" value="noreply@i-enter.co.jp" />

  <add key="temp_user" value="temp_user"/>

  <add key="m_user" value="m_user"/>

  <add key="temp_customer" value="temp_customer"/>

  <add key="m_customer" value="m_customer"/>

  <add key="temp_company" value="temp_company"/>

  <add key="m_company" value="m_company"/>

  <add key="logo_image" value="logo"/>

  <add key="profile_image" value="profile"/>

  <add key="list_items_per_page" value="25"/>  

  <add key="encryption_string" value="i-enterAsia"/>

  <add key="version_system" value="1.0.0"/>

  <add key="zip_code_csv" value="~/App_Data/Template"/>
  
  <add key="template" value="template"/>

  <add key="log_file_sql" value="logfile_iseiQ.txt"/>

  <add key="log_file_action" value="logfile_iseiQ_Action.txt"/>

  <add key="log_file_login" value="logfile_iseiQ_Login.txt"/>

  <add key="log_file_error" value="logfile_iseiQ_Error.txt"/>

  <add key="menu_state_cookie_lifetime_days" value="60"/>
  
  <add key="max_month_password_expired" value="3"/>
  
  <add key="limited_input_password_times" value="5"/>

</appSettings>