<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DapperExtensions" version="1.4.4" targetFramework="net45" />
  <package id="Glimpse" version="1.8.6" targetFramework="net45" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net45" />
  <package id="Glimpse.Mvc4" version="1.5.3" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
</packages>