@{
    Layout = null;
    ViewBag.Title = "ページが見つかりません。";
}

<hgroup class="title">
    <h2 class="error">ページが見つかりません。</h2>
    <a href="/UserManagement/Login/Logout">ログインページへ戻る</a>
</hgroup>
<script type="text/javascript">
    window.location.hash = "view";
    window.location.hash = "ChromeView"; //again because google chrome don't insert first hash into history
    window.onhashchange = function() { window.location.hash = "view"; }
</script>
