@charset "utf-8";
@font-face
{
    font-family: forgotten_futurist;
    src: url('../../../fonts/forgotten futurist rg.ttf');
}
@font-face
{
    font-family: dincond;
    src: url('../../../fonts/FF_DIN_Condensed_Medium.ttf');
}
/*Product list*/
#product_list {
    margin-bottom: 100px;
    float: left;
    width: 100%;
}
#cate_name {
    font-family: forgotten_futurist;
    color: #0F90C5;
    font-size: 30px;
    margin: 0 0 20px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
}
.title_item_product {
    font-family: forgotten_futurist;
    line-height: 24px;
}
#desc_cat {
    float: left;
    margin-top: 20px;
    clear: both;
    color: #333333;
}
#desc_cat_sub h2,
#desc_cat_sub h3,
#desc_cat h2,
#desc_cat h3 {
    color: #2094CE;
    font-size: 18px;
    font-weight: normal;
}
#desc_cat_sub p,
#desc_cat p {
    margin-bottom: 5px;
}
#desc_cat_sub ul li,
#desc_cat ul li {
    list-style: disc outside none;
    margin: 10px 0 10px 30px;
    padding-left: 5px;
}
#desc_cat_sub {
    float: left;
    clear: both;
    color: #333333;
}
#block_list_cat .list_cat_function {
    clear: both;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
#block_list_cat .list_cat_function h2 {
    font-weight: normal;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 5px;
}
#block_list_cat ul li {
    float: left;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 298px;
    height: 345px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 5px 0.5px #dddddd;
}
#block_list_cat ul li.last {
    margin-right: 0 !important;
}
ul li .title_cat {
    font-size: 16px;
    margin: 0 0 5px;
    font-weight: bold;
}
ul li .title_cat a {
    color: #222222;
}
ul li .title_cat a:hover {
    color: #0F90C5;
}
.img_cat {
    padding: 5px 5px 0 5px;
    text-align: center;
}
.block_content_sub_cat {
    padding: 20px 15px 15px;
}
.limit_consomm {
    background-color: #FCF6F6;
    border: 1px solid #F7B3B0;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.limit_consomm span {
    margin: 0 35px;
}
.limit_consomm label {
    font-weight: bold;
    color: #222222;
}

/*Product details*/
.clear {
    clear: both;
}
.bold {
    font-weight: bold;
    color: #222222;
}
h1#title_product {
    text-align: center;
    color:#222222;
    font-size: 26px;
    font-weight: normal;
    background: url('../../../img/frontend/bg_title.png') no-repeat bottom center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
#img_product {
    width: 389px;
    height: 389px;
    border: 1px solid #dfdfdf;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    position: relative;
}
#block_pdetail {
    width: 390px;
    margin-right: 30px;
    float: left;
}
#info_product_right {
    width: 300px;
    margin-right: 30px;
    float: left;
    margin-top: 15px;
    padding-right: 20px;
    border-right: 1px solid #d6d6d6;
}
.add_to_cart.none{
    display: none;
}
.add_to_cart span {
    display: block;
    float: left;
    text-indent: -9999px;
    width: 160px;
    height: 43px;
    background: url('../../../img/frontend/add_cart_button.png') no-repeat;
}
.price {
    font-size: 30px;
    color: #ed891f;
    line-height: 46px;
}
.price_item_promotion .price {
    color: #ffffff;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
}
.table_price {
    margin: 15px 0 10px;
    display: inline-block;
    width: 100%;
}
.table_price .first_td_price {
    float: left;
}
.table_price #block_add_cart {
    width: 160px;
    float: right;
}
#detail_product_share{
    overflow: hidden;
    margin-bottom: 25px;
    background: url('../../../img/frontend/bg_social_block.png') no-repeat top center;
    padding-top: 25px;
    margin-top: 25px
}
.block_social {
    width: 320px;
    margin: 0 auto;
}
.img_brand {
    margin-top: 10px;
}
.social_button{
    float:left;
    margin:auto;
}
.first_td {
    width: 110px;
    float: left;
    line-height: 26px;
}
.mgr28 {
    margin-right: 28px;
}
.fdadv {
    width: 136px;
    margin-bottom: 20px;
    float: left;
}
.en_stock {
    color: #0f90c5;
}
.block_info_product {
    margin-bottom: 10px;
    clear: both;
}
#block_stars {
    float: left;
    cursor: pointer;
}
.text_input {
    border: 1px solid #d3d3d3;
    padding: 3px;
}
input.text_input {
    width: 182px;
}
select.text_input {
    width: 190px;
}
table.table_price {
    margin-top: 30px;
    margin-bottom: 25px;
}
#table_attribut li {
    margin-bottom: 10px;
}
.block_loyalty {
    font-size: 12px;
    padding-bottom: 20px;
    background: url('../../../img/frontend/bg_sep_dotted.png') no-repeat bottom center;
}
.icon_loyalty {
    background: url('../../../img/frontend/icon_loyalty.png') no-repeat 0 2px;
    width: 12px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
.out_stock {
    color: #C40000;
}
#no_product {
    color: #222222;
}
#block_vote {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
#logo_whoops {
    width: 46px;
    float: right;
    margin-top: -15px;
}
#logo_whoops span {
    background: url('../../../img/frontend/logo_whoops.png') no-repeat;
    width: 46px;
    height: 46px;
    display: block;
}
span.stars_total, span.stars_total span {
    background: url("../../../img/frontend/stars_icon.png") repeat-x scroll 0 0 transparent;
    height: 23px;
    text-indent: -9999px;
    width: 100px;
    float: left;
    margin-right: 10px;
}
span.stars_total span {
    background-position: 0 -23px;
}
.number_vote {
    color: #222222;
    font-weight: bold;
}
.icon_payment {
    background: url("../../../img/frontend/icon_payment.png") no-repeat;
    display: block;
    width: 136px;
    height: 105px;
}
.icon_fee_transport {
    background: url("../../../img/frontend/icon_fee_transport.png") no-repeat;
    display: block;
    width: 136px;
    height: 105px;
}
.icon_suivis {
    background: url("../../../img/frontend/icon_suivis.png") no-repeat;
    display: block;
    width: 136px;
    height: 107px;
}
.icon_transport {
    background: url("../../../img/frontend/icon_transport.png") no-repeat;
    display: block;
    width: 136px;
    height: 107px;
}
#block_infos_adv td {
    padding-bottom: 15px;
}
#block_infos_adv td.block_first {
    padding-right: 16px;
    padding-left: 5px;
}
#block_third_product {
    margin-top: 15px;
    float: left;
    width: 229px;
}
#block_short_desc {
    margin: 15px 0;
}
.wrap_desc {
    clear: both;
    margin: 20px 0 20px;
    float: left;
    width: 100%;
}
#content_description {
    margin-top: 35px;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
}
#content_description img {
    margin: 0 15px;
}
#content_description h2,
#content_description h3 {
    color: #2094CE;
    font-size: 18px;
    font-weight: normal;
}
#content_description p {
    margin-bottom: 10px;
}
#content_description ul li {
    margin: 10px 0 10px 30px;
    list-style: disc outside none;
    padding-left: 5px;
}
#content_description a {
    color: #0F90C5;
    text-decoration: underline;
}
#content_description a:hover {
    color: #666666;
}
#block_third_product .tm img {
    max-height: 55px;
    max-width: 210px;
}
#block_third_product .tm a {
    color: #0F90C5;
}
.attribut_product {
    text-transform: capitalize;
}
#old_price {
    clear: both;
    text-decoration: line-through;
    display: block;
    margin-bottom: -10px;
    margin-top: -5px;
}
#img_product .promotion {
    background: url('../../../img/frontend/promotion.png') no-repeat center center;
    width: 76px;
    height: 76px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 76px;
    position: absolute;
    top: 0;
}

/* Block review*/
#block_review {
    clear: both;
    margin: -5px 0 50px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 2px 5px #e0e0e0;
    padding: 20px;
    border-top: none;
    float: left;
    width: 960px;
}
.product_review {
    color: #222222;
}
.block_head_review {
    clear: both;
    margin-bottom: 15px;
}
.img_product_review {
    float: left;
    margin-right: 20px;
    border: 1px solid #e0e0e0;
}
.img_block_product_review {
    width: 56px;
    height: 56px;
    display: table-cell;
    padding: 2px;
}
.img_block_product_review img {
    display: block;
}
.img_whoops {
    float: left;
    margin-right: 20px;
}
.icon_whoops {
    background: url('../../../img/frontend/icon_whoops.png') no-repeat center center;
    display: inline-block;
    width: 56px;
    height: 56px;
}
.review_comment {
    border-top: 1px solid #eeeeee;
    padding-top: 15px;
    margin: 15px 0;
}
.date_review {
    float: left;
    margin-right: 20px;
}
.comment_product {
    clear: both;
    color: #454545;
}
.pagination_review {
    margin-bottom: 20px;
    clear: both;
    background-color: #eeeeee;
    padding: 12px 0;
    text-align: center;
    float: left;
    width: 100%;
}
.pagination_review ul li {
    display: inline-block;
    margin: 0 3px !important;
    float: none !important;
}
.pagination_review ul li span,
.pagination_review ul li a {
    padding: 5px 10px;
    background-color: #cfcece;
    color: #ffffff;
    border-radius: 3px;
}
.pagination_review ul li.active span,
.pagination_review ul li.active a,
.pagination_review ul li a:hover {
    background-color: #2094ce;
}
#body_new_review {
    max-height: 350px;
    margin-bottom: 20px;
    overflow: hidden;
}
#title_new_review {
    background: url('../../../img/frontend/bg_title_new_review.png') repeat-x;
    height: 48px;
    line-height: 40px;
    font-weight: bold;
    color: #222222;
    padding: 0 15px;
    margin: 30px 0 10px -15px;
}
.new_review {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.new_review.last {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 10px;
}
#view_all_review {
    background-color: #eeeeee;
    line-height: 35px;
    padding: 0 15px;
    margin-left: -15px;
    text-align: right;
}
#view_all_review a {
    color: #2094ce;
    outline: hidden;
}
#view_all_review a:hover {
    text-decoration: underline;
}

.title_all_block {
    background: url('../../../img/frontend/bg_title_all_block.png') no-repeat bottom center;
    padding-bottom: 15px;
    clear: both;
}
.title_all_block ul li {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 16px;
}
.title_all_block ul li a {
    color: #aaaaaa;
    padding: 0 15px 10px 15px;
}
.title_all_block ul li a.active,
.title_all_block ul li a:hover {
    color: #2094ce;
    border-bottom: 4px solid #2094ce;
}

.vente_flash {
    background: url('../../../img/frontend/bg_vente_flash.png') no-repeat center center;
    width: 161px;
    height: 58px;
    position: absolute;
    top: 71px;
    left: 229px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    line-height: 58px;
}
.vente_flash span {
    padding-left: 93px;
}
#day_note_flash {
    padding-left: 75px;
    padding-top: 34px;
}
#time_note_flash {
    margin-top: 10px;
    padding-left: 75px;
}
.text_infos_flash.day {
    text-transform: uppercase;
}
.text_infos_flash {
    color: #f8ca3d;
}

/*Attr*/
.title_attr {
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    background: url('../../../img/frontend/icon_liquide.png') no-repeat;
    background-position: 0 0;
}
.title_attr.break {
    background-position: 0 15px;
}
.combine_price {
    color: #fe8b24;
}
.list_declinaison table {
    width: 100%;
}
.list_declinaison table td {
    padding: 0 10px;
    vertical-align: top;
}
.list_declinaison table td .out_of_stock,
.list_declinaison table td a {
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    line-height: normal;
    margin-bottom: 5px;
    padding: 5px 0;
    width: 100%;
    font-weight: bold;
}
.list_declinaison table td .out_of_stock {
    color: #c5c5c5;
    background-color: #7b7b7b;
}
.list_declinaison table td a:hover {
    text-decoration: underline;
}
.title_filter {
    text-transform: uppercase;
    color: #333333;
    font-family: dincond;
    font-size: 16px;
    text-shadow: 1px 1px #e0e0e0;
    margin-bottom: 10px;
}
.block_filter li {
    display: inline-block;
    text-align: center;
}
.block_filter li a {
    padding: 3px 0;
    margin: 5px 15px 5px 0;
    min-width: 100px;
    font-family: dincond;
    display: inline-block;
    font-size: 14px;
    background-color: #f5f5f5;
    text-transform: uppercase;
    color: #666666;
}
.block_filter li a.selected:hover,
.block_filter li a.selected {
    transition: all 0.3s ease 0s;
    background-color: #15a1e8;
    color: #ffffff;
}
.block_filter li a:hover {
    transition: all 0.3s ease 0s;
    background-color: #dddddd;
    color: #666666;
}
#filter {
    padding: 20px;
    border: 1px solid #e5e5e5;
    background-color: #fcfcfc;
}
.block_filter_brand.mt20 {
    clear: both;
    margin-top: 20px;
}
.flavor_parent {
    color: #15a1e8; 
    text-shadow: 1px 1px #ffffff;
}
.wrapper_item_product1000 .content_iem_product .block_content_item {
    height: 445px;
}
.wrapper_item_product1000 .content_iem_product {
    padding: 20px 20px 10px;
}

span.stars_plist, span.stars_plist span {
    background: url("../../../img/frontend/icon_star_plist.png") repeat-x scroll 0 -23px transparent;
    float: left;
    height: 18px;
    margin-right: 10px;
    text-indent: -9999px;
    width: 100px;
}
span.stars_plist span {
    background-position: 0 0;
}
.review_item {
    margin-top: 5px;
}
.review_item .total_review {
    float: right;
    color: #15a1e9;
}
.infos_item {
    height: 135px;
    overflow: hidden;
    clear: both;
}
#block_sort {
    float: right;
    margin-top: -50px;
}
#block_sort span {
    font-weight: bold;
    color: #222222;
    font-size: 13px;
}
#block_sort select {
    color: #666666;
    padding: 4px 2px;
}
.product_add_cart a.add_to_cart span {
    display: inline;
    float: none;
}

/*Product related*/
#suggest_product {
    font-size: 13px;
    margin-bottom: 100px;
    margin-top: 25px;
    float: left;
}
#suggest_product .wrap_desc {
    clear: both;
    margin: 30px 0 30px;
    float: left;
    width: 100%;
}
#suggest_product #suggest_product {
    margin-top: 20px;
}
#suggest_product ul.product_list li {
    float: left;
    width: 222px;
    height: 370px;
    overflow: hidden;
    margin-right: 37px;
    margin-bottom: 20px;
}
#suggest_product ul.product_list li.last_product_item {
    margin-right: 0;
}
#suggest_product .img_product {
    border: 1px solid #dedede;
    width: 220px;
    height: 220px;
}
#suggest_product .img_product .img_block {
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #ffffff;
}
#suggest_product .img_product .img_block img {
    display: block;
}
#suggest_product .block_infos {
    margin: 10px 3px;
    width: 216px;
    max-height: 40px;
    overflow: hidden;
}
#suggest_product .title_product a {
    color: #222222;
    font-size: 13px;
    text-transform: uppercase;
}
#suggest_product .product_price {
    font-size: 18px;
    color: #ed891f;
    line-height: 20px;
}
#suggest_product .title_product a:hover {
    color: #0F90C5;
}
#suggest_product .price_product {
    float: left;
    width: 50%;
}
#suggest_product .available_stock {
    text-align: right;
}
#suggest_product .old_price {
    text-decoration: line-through;
}