#sb-site.top-padding {
    padding-top: 0px !important;
}

.wrapper {
    background: #FFFFFF !important;
}

div.ChangePassword {
    padding: 20px 0px 0px 30px;
}

div.ChangePassword .box-header h1{
    font-size: 24px;
    font-weight: bold;
}

div.ChangePassword .requiredField,
div.ChangePassword .validation-summary-errors {
    font-weight: bold;
    color: red;
}

div.ChangePassword div#title{
    padding:10px 0px 0px 0px !important;
}

div.ChangePassword label {
    min-width: 170px;
}

div.ChangePassword input {
    width: 240px;
}

div.ChangePassword .validation-summary-errors ul li{
    padding-bottom:10px;
}

div.ChangePassword .form-button {
    width: 31.7%;
}

div.ChangePassword .return {
    margin-left: 180px;
    height: 27px;
    width: 84px;
}

div.ChangePassword .transmission {
    height: 27px;
    width: 140px;
    margin-left: 11px;
}

div.ChangePassword > button {
    border: 1px solid rgb(33, 45, 89);
    color: #fff;
    background: -webkit-linear-gradient(rgb(48, 65, 134), rgb(37, 51, 100));
    background: -o-linear-gradient(rgb(48, 65, 134), rgb(37, 51, 100));
    background: -moz-linear-gradient(rgb(48, 65, 134), rgb(37, 51, 100));
    background: linear-gradient(rgb(48, 65, 134), rgb(37, 51, 100));
}
.ChangePassword #passstrength {
    margin-left: 10px;
    color:red;
    font-family:verdana;
    font-size: 12px;
    font-weight: bold;
}
.ChangePassword #repassstrength {
    margin-left: 10px;
    color:red;
    font-family:verdana;
    font-size: 12px;
    font-weight: bold;
}

.note {
    margin-left: 173px;
    color: #dc0800;
    font-family: "メイリオ";
    font-size: 12px;
}
